<style>

    .modal-content {
        position: fixed; /* Modalın pozisyonunu sabitler */
        top: 50%; /* Modalı sayfanın ortasına yerleştirir */
        left: 50%; /* Modalı sayfanın ortasına yerleştirir */
        transform: translate(-50%, -50%); /* Modalın tam olarak sayfanın ortasında olmasını sağlar */
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Inconsolata', monospace;
        background-color: #eddf9a;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        width: 200px; /* Modal formun genişliğini ayarlar */
    }


    .modal-content textarea, .modal-content input {
        margin: 5px 0;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%; /* Elementin genişliğini ayarlar */
    }

    .modal-content button {
        margin: 5px 0;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%; /* Elementin genişliğini ayarlar */
        background-color: #f1f1f1;
        cursor: pointer;
    }

    .close {
        position: absolute; /* Çarpı işaretinin pozisyonunu sabitler */
        right: 10px; /* Çarpı işaretini sağa hizalar */
        top: 5px; /* Çarpı işaretini yukarı hizalar */
        color: #aaa;
        float: right; /* Çarpı işaretini sağa hizalar */
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer; /* Çarpı işaretinin üzerine gelindiğinde el işaretini gösterir */
    }

    .delete-icon {
        color: red;
        font-size: 20px;
        text-decoration: none;
    }

</style>
<div id="commentModal" class="modal">
    <div class="modal-content">
        <a href="{% url 'index' %}" style="margin-bottom: 10px">
            <span class="close">x</span>
        </a>


        <form id="commentForm" method="post">
            {% csrf_token %}
            <textarea name="comment" required></textarea>
            <button type="submit">Submit</button>
        </form>

        <ul id="commentList">
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.user.username }}:</strong>  <!-- Yorum yapan kullanıcının adını gösterir -->
                    <small>{{ comment.created_at }}</small>  <!-- Yorum zamanını gösterir -->
                    <br>
                    {{ comment.comment }}
                    {% if request.user == comment.user %}
                        -<a href="{% url 'delete_comment' comment.id %}" class="delete-icon" title="Delete Item">
                        &#128465; <!-- This is the HTML entity for a trash bin symbol -->
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


<script>


</script>