{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .edit-icon {
            font-size: 12px;
            color: #9a9595;
        }

        .fas.fa-star, .fas.fa-comment, .fas.fa-heart {
            color: #9a9595;
            font-size: 14px;
        }

        .liked {
            color: red !important;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
        }

        @keyframes animatetop {
            from {
                top: -300px;
                opacity: 0;
            }
            to {
                top: 0;
                opacity: 1;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="flex-container" style="margin-top: 30px">
        <table id="hnmain" class="main-table">
            <tr>
                <td class="header-cell">
                    <div class="header-container"
                         style="display: flex; justify-content: space-between; align-items: center; padding: 5px;">
                        <div class="logo-links">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'img/icon.png' %}" alt="Hacker News Logo">
                            </a>
                            <span class="pagetop">
                                <b class="hnname"><a href="{% url 'index' %}">Ai-News</a></b>
                            </span>
                        </div>
                        <div class="search-login">
                            <form method="get" action="search" style="display: inline;">
                                <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false"
                                       autocapitalize="off" autocomplete="off">
                                <input type="submit" value="search">
                            </form>
                            {% if user.is_authenticated %}
                                <p style="display: inline;">{{ user.username }}</p>
                                <a href="{% url 'logout' %}">logout</a>
                                <a href="{% url 'profile' %}">profile</a>
                                {% if user.is_superuser %}
                                    <a href="{% url 'add_news' %}">Add News</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'login' %}">login</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="spacer-cell"></td>
            </tr>
            {% for new in news %}
                <tr class="news-row">
                    <td>
                        <table class="news-item">
                            <tr class="athing" id="news_{{ new.id }}">
                                <td class="rank-cell">{{ forloop.counter }}.</td>
                                <td class="vote-cell">
                                    <center><a id="up_{{ new.id }}" href="vote?id={{ new.id }}&how=up&goto=news">
                                        <div class="votearrow" title="upvote"></div>
                                    </a></center>
                                </td>
                                <td class="title-cell">
                                    <a href="{{ new.link }}">{{ new.short_description }}</a>
                                    <span class="sitebit comhead">(<a
                                            href="{{ new.link }}">{{ new.category }}</a>)</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="subtext-cell">
                                    <a href="#" class="rating-icon" data-news-id="{{ new.id }}">
                                        <i class="fas fa-star"></i>
                                    </a>
                                    <span class="score" id="score_{{ new.id }}">
                                        {{ new.average_rating|default:0 }}
                                    </span>
                                    |
                                    by {{ user }}
                                    <span class="age">{{ new.time_ago }}</span> |
                                    <a href="#" class="comment-icon" data-news-id="{{ new.id }}">
                                        <i class="fas fa-comment"></i>
                                    </a>
                                    <a href="item?id={{ new.id }}"
                                       id="comment_count_{{ new.id }}">{{ new.comments.count }}</a>|

                                    <a href="#" class="like-icon {% if new.user_liked %}liked{% endif %}"
                                       data-news-id="{{ new.id }}">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                    <span class="likes-count" id="likes_count_{{ new.id }}">
                                        {{ new.like_count }}
                                    </span>
                                    |
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'edit_news' new.id %}"><i
                                                class="fas fa-pencil-alt edit-icon"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td class="footer-cell">
                    <center>
                        <span class="yclinks">
                            <a href="newsguidelines.html">Guidelines</a> | <a href="newsfaq.html">FAQ</a> |
                            <a href="lists">Lists</a> | <a href="https://github.com/HackerNews/API">API</a> |
                            <a href="security.html">Security</a> | <a
                                href="https://www.ycombinator.com/legal/">Legal</a> |
                            <a href="https://www.ycombinator.com/apply/">Apply to YC</a> | <a
                                href="mailto:hn@ycombinator.com">Contact</a>
                        </span>
                        <br><br>
                    </center>
                </td>
            </tr>
        </table>
    </div>
    <footer class="footer-container">
        <div class="social-media-links">
            <a href="https://www.github.com/palamut62" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.twitter.com/palamut62" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/umutins6230" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="http://umutins62.pythonanywhere.com/" target="_blank"><i class="fas fa-globe"></i></a>
        </div>
        <p class="design-credit">Design by Umut Celik | 2024</p>
    </footer>
    <script src="hn.js"></script>
    <script>
        const isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
        const loginUrl = "{% url 'login' %}";

        const ratingIcons = document.querySelectorAll('.rating-icon');
        const commentIcons = document.querySelectorAll('.comment-icon');
        const likeIcons = document.querySelectorAll('.like-icon');

        document.addEventListener('DOMContentLoaded', function () {
            const ratingIcons = document.querySelectorAll('.rating-icon');

            ratingIcons.forEach(icon => {
                icon.addEventListener('click', (e) => {
                    if (!isAuthenticated) {
                        window.location.href = loginUrl;
                        return;
                    }
                    const newsId = icon.getAttribute('data-news-id');
                    fetch(`/rate/${newsId}/`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({rating: 5})
                    }).then(response => response.json())
                        .then(data => {
                            if (data.status === 'success') {
                                const scoreElement = document.querySelector(`#score_${newsId}`);
                                scoreElement.textContent = data.rating;
                            } else {
                                alert('Puanlama yapılırken bir hata oluştu.');
                            }
                        });
                });
            });
        });

        commentIcons.forEach(icon => {
            icon.addEventListener('click', (e) => {
                if (!isAuthenticated) {
                    window.location.href = loginUrl;
                    return;
                }
                e.preventDefault();
                const newsId = icon.getAttribute('data-news-id');
                fetch(`/comment/${newsId}/`, {
                    method: 'GET',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            const comments = JSON.parse(data.comments);
                            const commentList = document.querySelector('#commentModal ul');
                            commentList.innerHTML = '';
                            comments.forEach(comment => {
                                const li = document.createElement('li');
                                li.textContent = comment.fields.comment;
                                commentList.appendChild(li);
                            });
                            document.querySelector('#commentForm').setAttribute('data-comment-id', newsId);
                            document.getElementById('commentModal').style.display = 'block';
                        }
                    });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
        const likeIcons = document.querySelectorAll('.like-icon');

        likeIcons.forEach(icon => {
            icon.addEventListener('click', (e) => {
                if (!isAuthenticated) {
                    window.location.href = loginUrl;
                    return;
                }
                e.preventDefault();
                const newsId = icon.getAttribute('data-news-id');
                fetch(`/like/${newsId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                }).then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            const likeCountElement = document.querySelector(`#likes_count_${newsId}`);
                            likeCountElement.textContent = data.likes_count;
                            icon.classList.toggle('liked', data.user_liked);
                        } else {
                            alert('Beğenme işlemi yapılırken bir hata oluştu.');
                        }
                    });
            });
        });
    });

        document.addEventListener('DOMContentLoaded', function () {
            const commentModal = document.getElementById('commentModal');
            const ratingModal = document.getElementById('ratingModal');
            const commentForm = document.getElementById('commentForm');
            const ratingForm = document.getElementById('ratingForm');
            const commentIcons = document.querySelectorAll('.comment-icon');
            const ratingIcons = document.querySelectorAll('.rating-icon');
            const likeIcons = document.querySelectorAll('.like-icon');

            commentIcons.forEach(function (icon) {
                icon.addEventListener('click', function (event) {
                    event.preventDefault();
                    if (!isAuthenticated) {
                        window.location.href = loginUrl;
                        return;
                    }
                    commentModal.style.display = 'block';
                });
            });

            ratingIcons.forEach(function (icon) {
                icon.addEventListener('click', function (event) {
                    event.preventDefault();
                    if (!isAuthenticated) {
                        window.location.href = loginUrl;
                        return;
                    }
                    ratingModal.style.display = 'block';
                });
            });

            likeIcons.forEach(icon => {
                icon.addEventListener('click', function (event) {
                    event.preventDefault();
                    if (!isAuthenticated) {
                        window.location.href = loginUrl;
                        return;
                    }
                    const newsId = icon.getAttribute('data-news-id');
                    fetch(`/like/${newsId}/`, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json'
                        }
                    }).then(response => response.json())
                        .then(data => {
                            if (data.status === 'success') {
                                const likeCountElement = document.querySelector(`#likes_count_${newsId}`);
                                likeCountElement.textContent = data.likes_count;  // Beğeni sayısını güncelle
                                icon.classList.toggle('liked', data.user_liked);  // İkonun rengini değiştir
                            } else {
                                alert('Beğenme işlemi yapılırken bir hata oluştu.');
                            }
                        });
                });
            });

            commentForm.addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(commentForm);
                const commentId = commentForm.getAttribute('data-comment-id');
                fetch(`/comment/${commentId}/`, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin'
                }).then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            const comments = JSON.parse(data.comments);
                            const commentList = document.querySelector(`#comment_list_${commentId}`);
                            commentList.innerHTML = ''; // Mevcut yorumları temizle
                            comments.forEach(comment => {
                                const li = document.createElement('li');
                                li.textContent = comment.fields.comment;
                                commentList.appendChild(li);
                            });
                            const commentCount = document.querySelector(`#comment_count_${commentId}`);
                            commentCount.textContent = data.comments_count; // Yorum sayısını güncelle
                            commentModal.style.display = 'none';
                        } else {
                            alert('Yorum yapılırken bir hata oluştu.');
                        }
                    });
            });

            ratingForm.addEventListener('submit', function (event) {
                event.preventDefault();
                const formData = new FormData(ratingForm);
                const ratingId = ratingForm.getAttribute('data-rating-id');
                fetch(`/rate/${ratingId}/`, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    credentials: 'same-origin'
                }).then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            const scoreElement = document.querySelector(`#score_${ratingId}`);
                            scoreElement.textContent = data.rating; // Puanı güncelle
                            ratingModal.style.display = 'none';
                        } else {
                            alert('Puanlama yapılırken bir hata oluştu.');
                        }
                    });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
        const isAuthenticated = {{ user.is_authenticated|yesno:"true,false" }};
        const loginUrl = "{% url 'login' %}";

        const ratingIcons = document.querySelectorAll('.rating-icon');
        const likeIcons = document.querySelectorAll('.like-icon');

        ratingIcons.forEach(icon => {
            icon.addEventListener('click', (e) => {
                if (!isAuthenticated) {
                    window.location.href = loginUrl;
                    return;
                }
                const newsId = icon.getAttribute('data-news-id');
                fetch(`/rate/${newsId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ rating: 5 })
                }).then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            const scoreElement = document.querySelector(`#score_${newsId}`);
                            scoreElement.textContent = data.rating;
                        } else {
                            alert('Puanlama yapılırken bir hata oluştu.');
                        }
                    });
            });
        });

        likeIcons.forEach(icon => {
            icon.addEventListener('click', (e) => {
                if (!isAuthenticated) {
                    window.location.href = loginUrl;
                    return;
                }
                e.preventDefault();
                const newsId = icon.getAttribute('data-news-id');
                fetch(`/like/${newsId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                }).then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            const likeCountElement = document.querySelector(`#likes_count_${newsId}`);
                            likeCountElement.textContent = data.likes_count;
                            icon.classList.toggle('liked', data.user_liked);
                        } else {
                            alert('Beğenme işlemi yapılırken bir hata oluştu.');
                        }
                    });
            });
        });
    });
    </script>
    {% include 'comments.html' %}
    {% include 'points.html' %}
{% endblock %}
