<style>
    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Inconsolata', monospace;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        width: 200px; /* Modal formun genişliğini ayarlar */
    }

    .modal-content textarea, .modal-content input {
        margin: 5px 0;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%; /* Elementin genişliğini ayarlar */
    }

    .modal-content button {
        margin: 5px 0;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%; /* Elementin genişliğini ayarlar */
        background-color: #f1f1f1;
        cursor: pointer;
    }

    .close {
        color: #aaa;
        float: right; /* Çarpı işaretini sağa hizalar */
        font-size: 28px;
        font-weight: bold;
        margin: -10px -10px 0 0; /* Çarpı işaretini modal formun dışına çıkarır */
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer; /* Çarpı işaretinin üzerine gelindiğinde el işaretini gösterir */
    }

    .star-rating {
        font-size: 2em;
        display: flex;
        justify-content: center;
    }

    .star {
        cursor: pointer;
        color: #ccc; /* Varsayılan yıldız rengi */
        font-size: 1.5em;
    }

    .star:hover,
    .star.selected {
        color: #3c3b37; /* Seçilmiş yıldız rengi */
    }


</style>
<!-- Rating Modal -->
<div id="ratingModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="ratingForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="rating" id="ratingValue">
            <div class="stars">
                <span class="star" data-value="1">&#9733;</span>
                <span class="star" data-value="2">&#9733;</span>
                <span class="star" data-value="3">&#9733;</span>
                <span class="star" data-value="4">&#9733;</span>
                <span class="star" data-value="5">&#9733;</span>
            </div>
            <button type="submit">Submit Rating</button>
        </form>
    </div>
</div>

<!-- Include comments.html and other required templates -->
{% include 'comments.html' %}



<script>
    var modal = document.getElementById('ratingModal');

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };

    var closeButtons = document.querySelectorAll('.close');

    closeButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            console.log('Çarpı işaretine tıklandı'); // Bu, çarpı işaretine tıklandığında yazdırılmalı
            event.target.parentElement.parentElement.style.display = 'none';
        });
    });
</script>