<style>
    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Inconsolata', monospace;
        background-color: #eddf9a;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        width: 200px; /* Modal formun genişliğini ayarlar */
    }

    .modal-content textarea, .modal-content input {
        margin: 5px 0;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%; /* Elementin genişliğini ayarlar */
    }

    .modal-content button {
        margin: 5px 0;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%; /* Elementin genişliğini ayarlar */
        background-color: #f1f1f1;
        cursor: pointer;
    }

    .close {
        color: #aaa;
        float: right; /* Çarpı işaretini sağa hizalar */
        font-size: 28px;
        font-weight: bold;
        margin: -10px -10px 0 0; /* Çarpı işaretini modal formun dışına çıkarır */
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer; /* Çarpı işaretinin üzerine gelindiğinde el işaretini gösterir */
    }
</style>
<div id="ratingModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="document.getElementById('ratingModal').style.display='none'">&times;</span>
        <h2>Rate</h2>
        <form id="ratingForm" data-rating-id="{{ news.id }}">
            {% csrf_token %}
            <label for="rating">Rating:</label>
            <input type="number" name="rating" min="1" max="5" step="1">
            <button type="submit">Submit</button>
        </form>

    </div>
</div>
<script>
    var modal = document.getElementById('ratingModal');

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = 'none';
        }
    };

    var closeButtons = document.querySelectorAll('.close');

    closeButtons.forEach(function (button) {
        button.addEventListener('click', function (event) {
            console.log('Çarpı işaretine tıklandı'); // Bu, çarpı işaretine tıklandığında yazdırılmalı
            event.target.parentElement.parentElement.style.display = 'none';
        });
    });
</script>